.container {
  z-index: 1000;
  position: fixed;
  top: var(--header-height);
  right: 0;
  width: 150px;
  height: var(--main-height);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tab {
  margin: 10% 0;
}
