.container {
  z-index: 1000;
  position: fixed;
  top: 50%;
  right: 0;
  width: clamp(152px, 10vw, 194px);
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  perspective: 900px;
}

.tab {
  width: 100%;
}

.main_tabs,
.sub_tabs {
  display: grid;
  gap: 5px;
}

.sub_tabs {
  margin-top: 5px;
}

.menu_btn {
  display: none;
}

.menu_icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    top: var(--header-height-sm);
    right: 0;
    width: 76px;
    height: auto;
    flex-direction: column;
    transform: none;
  }

  .main_tabs,
  .sub_tabs {
    display: none;
  }

  .menu_btn:checked ~ .main_tabs {
    display: grid;
  }

  .menu_btn:checked ~ .sub_tabs {
    display: grid;
  }

  .menu_icon {
    background-color: var(--background-black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .navicon:before,
  .navicon:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .navicon:before {
    top: 9px;
  }

  .navicon:after {
    bottom: 9px;
  }

  .menu_btn:checked ~ .menu_icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu_btn:checked ~ .menu_icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:before {
    top: 0;
  }

  .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:after {
    bottom: 0;
  }

  .menu_btn:checked ~ .menu_icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
}
