.container {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.content {
  width: 46%;
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }
}
