@tailwind base;
@tailwind components;
@tailwind utilities;

:rootbody {
  margin: 0;
  padding: 0;
}

@property --header-height {
  syntax: '*';
  inherits: false;
  initial-value: 64px;
}

/*@property --main-height {*/
/*  syntax: '*';*/
/*  inherits: false;*/
/*  initial-value: 84.5%;*/
/*}*/

@property --footer-height {
  syntax: '*';
  inherits: false;
  initial-value: 30px;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/font/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f5f4f2;
}

:root {
  --white: #fafafa;
  --gray: #707070;
  --background-black: #000000;
  --company-color: #21ffaa;
  --font-axia: 'axia', sans-serif;
}
