body {
  margin: 0;
  padding: 0;
}

@property --header-height {
  syntax: '*';
  inherits: false;
  initial-value: 64px;
}

/*@property --main-height {*/
/*  syntax: '*';*/
/*  inherits: false;*/
/*  initial-value: 84.5%;*/
/*}*/

@property --footer-height {
  syntax: '*';
  inherits: false;
  initial-value: 30px;
}
