.body {
  --end-line-height: 240px;
  --middle-line-height: 200px;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Noto Sans JP;
  overflow: hidden;
  overscroll-behavior: none;
}

.header {
  position: relative;
  width: inherit;
  height: var(--header-height);
}

.main {
  position: relative;
  height: calc(100% - var(--header-height) - var(--footer-height));
  width: calc(100% - 60px);
  margin: 0 30px;
}

.frame {
  pointer-events: none;
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  width: inherit;
  height: var(--footer-height);
}

.content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.background {
  z-index: -100;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.triangle {
  width: 12px;
}

.side_end_line {
  height: var(--end-line-height);
}

.side_middle_line {
  height: var(--middle-line-height);
}

@media (width <= 450px) {
  .bg_responsive {
    flex-direction: column;
  }
}

@media (width > 450px) {
  .bg_responsive {
    flex-direction: row;
  }
}

@media (width <= 450px) {
  .background_logo {
    height: calc(20vw);
    width: 100%;
    /* background-color: rgba(0, 255, 0, 1); */
  }
}

@media (width > 450px) {
  .background_logo {
    height: 100%;
    width: calc(10vh);
    /* background-color: rgba(0, 255, 0, 1); */
  }
}

/* SVGのスタイリング */
.background_logo_img {
  width: 100%;
  height: 100%;
}

/* 右側のSVGを180度回転 */
.background_logo_img_rotate {
  transform: rotate(180deg);
}
