.container {
  counter-increment: article-section;
  min-height: 0;
  display: block;
}

.content {
  min-width: 0;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll > p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.icon {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: var(--background-black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
