.news_summary_container {
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.news_summary_title {
  font-size: calc(1rem + var(--font-size-adjustment));
  font-weight: bold;
}

.cursor {
  width: 1.25rem;
  margin-left: auto;
  transform: rotate(90deg);
}

.news_one_line {
  font-size: calc(0.8rem + var(--font-size-adjustment));
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_one_line > span {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .news_one_line {
    font-size: calc(0.7rem + var(--font-size-adjustment));
    padding: 0 0.5rem;
  }

  .cursor {
    width: 1rem;
    margin-left: auto;
    transform: rotate(90deg);
  }
}
