/* ----------------------------------------------------------------------------
	Helper CSS Styles
---------------------------------------------------------------------------- */
 /*
 @onepage
 */
.font-body { font-family: 'Open Sans','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif !important; }

.font-primary { font-family: 'Open Sans','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif !important; }

/*
font
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	/*color: #444;*/
	font-weight: 700;
  letter-spacing: 0.25em;
	/*line-height: 1.5;
	margin: 0 0 30px 0;
	font-family: 'Raleway', sans-serif;*/
}

/*
@bootstrap
*/
.lead {
  /*margin-bottom: 20px;*/
  font-size: 12px;
  /*font-weight: 300;
  line-height: 1.4;*/
}
@media (min-width: 768px) {
  .lead {
    font-size: 13px;
  }
}

/*

*/
.cap-title h4 {
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 2px;
  margin: 0 0 10px 0;
}

.cap-title span {
	font-style: normal;
	/*color: #808080;*/
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	/*margin-top: 2px;*/
}
.cap-icon {
  font-size: 25px;
  margin-bottom: 15px;
}

/* ----------------------------------------------------------------
	HEADER
-----------------------------------------------------------------*/

/*
angle-down-arrow @add
*/
.icon-angle-down { color: black; }

/*
angle-down-arrow-size @style
*/
.one-page-arrow {
	width: 40px;
	height: 40px;
	font-size: 40px;
}

/*
menu trigger-size @style
*/
#primary-menu-trigger,
#page-submenu-trigger {
	font-size: 24px;
  text-align: right;
}

/*
media-menu-bg @add
*/
@media (max-width: 991px) {
	.overlay-menu #primary-menu.dark ul { background-color: rgba(0,0,0,0); }
}

/*
mediaPC-header-bg @dark
*/
.dark #header.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark),
.dark #header.sticky-header.transparent-header #header-wrap:not(.not-dark),
.dark #header.transparent-header.floating-header .container,
.dark #header.transparent-header.floating-header.sticky-header .container,
#header.dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark),
#header.dark.sticky-header.transparent-header #header-wrap:not(.not-dark),
#header.dark.transparent-header.floating-header .container,
#header.dark.transparent-header.floating-header.sticky-header .container,
.dark .responsive-sticky-header #header-wrap,
.responsive-sticky-header.dark #header-wrap { background-color: rgba(0,0,0,0.7); }

/*
media-header-bg @onepage
*/
@media (max-width: 991px) {
#header.transparent-header.dark:not(.sticky-header) #header-wrap {
  background-color: rgba(0,0,0,0.7);
  border-bottom-color: rgba(255,255,255,0.1) !important;
}

/*
media-header-fix-bg @responsive
*/
/*#header.dark.transparent-header,
#header.dark.semi-transparent {
  background-color: red;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}*/
}

/*
menu hover-color @dark
*/
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li:hover > a,
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li.current > a,
.overlay-menu #primary-menu.dark > ul > li:hover > a,
.overlay-menu #primary-menu.dark > ul > li.current > a { color: #3488C9 !important; }



/* ----------------------------------------------------------------
	HEADER
-----------------------------------------------------------------*/

/*
@style
*/
.team-desc.team-desc-bg {
	background-color: #FFF;
	padding: 30px 0 30px;
}


/* ----------------------------------------------------------------
	CONTENTS
-----------------------------------------------------------------*/

/*
@bootstrap
*/
body {
  font-family: 'Open Sans','Hiragino Kaku Gothic ProN',
   Meiryo, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
/* ----------------------------------------------------------------
	FOOTER
-----------------------------------------------------------------*/

/*
@dark
*/
#footer.dark,
.dark #footer {
	background-color: #222;
}

.dark #copyrights {
  background-color: #222;
	color: rgba(255,255,255,0.8);
  letter-spacing: 1px;
  font-size: 11px;
}

/*
@style
*/
#copyrights {
	padding: 20px 0 40px;
}
