:root {
    --base-width: 1920; /* デザインの基準幅 */
}

/* 
common
 */
.p-index-common__ttl-area {
    padding-bottom: 54px;
}
.p-index-common__ttl {
    font-size: 46px;
    font-family: "axia", sans-serif;
    font-weight: 900;
    text-align: center;
}
@media screen and (max-width:1024px) {
    .p-index-common__ttl-area {
        padding-bottom: 105px;
    }
}
@media screen and (max-width:768px) {
    .p-index-common__ttl {
        font-size: 23px;
    }
    .p-index-common__ttl-area {
        padding-bottom: 53px;
    }
}
/* 
parallax
 */
.parallax {
    background-image: url('../img/bg_c.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
@media screen and (max-width:768px) {
    .l-main {
        position: relative;
        clip-path: inset(0);
        overflow: hidden;
    }
    .l-main::before {
        content: '';
        background-image: url('../img/bg_c.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
    }
    .p-index-kv__container.parallax,
    .p-index-trans__container.parallax,
    .p-index-growth.parallax,
    .p-index-work.parallax,
    .p-index-member.parallax,
    .p-index-create .parallax  {
       background-image: none;
    }
}
@media screen and (min-width:769px) {
    .p-index-kv__container.parallax,
    .p-index-trans__container.parallax,
    .p-index-growth.parallax,
    .p-index-work.parallax,
    .p-index-member.parallax {
        background-image: url('../img/bg_c.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .p-index-create .parallax {
        background-image: url('../img/bg_c.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1185px;
        margin-top: -1185px
    }
}


@media screen and (min-width:1025px) {
    .pc {
        display: block;
    }
    .sp {
        display: none;
    }
}
@media screen and (max-width:1024px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
} 


/* 
header
 */
.l-header {
    width: 100%;
    height: 105px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 17;
}
.l-header__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 177px 0 46px;
}
.l-header__nav-inner {
    width: 512px;
}
.l-header__nav-item {
    display: flex;
    justify-content: space-between;
}
.l-header__nav-link {
    font-family: "axia", sans-serif;
    font-weight: 300;
}
.l-header__humberger {
    width: 40px;
    height: 21px;
    z-index: 20;
    transition: all 0.4s;
    position: absolute;
    top: 40px;
    right: 51px;
    transform: translate(0, 0);
}
.l-header__border {
    border: 0.35px solid #000;
    width: 100%;
    height: 3px;
    display: inline-block;
    content: "";
    background-color: #797979;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
}
.l-header__border:nth-of-type(2) {
    top: 9px;
}
.l-header__border:nth-of-type(3) {
    top: 18px;
}
#nav-menu {
    display: none;
}
#nav-menu.is-active {
    display: block;
}
.l-header__humberger.is-active .l-header__border:nth-of-type(1) {
    transform: translateY(9px) rotate(25deg);
}
.l-header__humberger.is-active .l-header__border:nth-of-type(2) {
    opacity: 0;
}
.l-header__humberger.is-active .l-header__border:nth-of-type(3) {
    transform: translateY(-9px) rotate(-25deg);
}
.l-header__border-txt {
    display: none;
}
.l-header__humberger.is-active .l-header__border-txt {
    display: block;
    font-size: 10px;
    font-family: "axia", sans-serif;
    font-weight: 100;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width:768px) {
    .l-header {
        height: 75px;
    }
    .l-header__inner {
        padding: 25px 60px 0 23px;
    }
    .l-header__logo-item {
        width: 32px;
    }
    .l-header__nav-inner {
        width: auto;
    }
    .l-header__humberger {
        top: 27px;
    }
    .l-header__humberger {
        width: 20px;
        right: 18px;
    }
    .l-header__border  {
        height: 1.5px;
    }
    #nav-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        width: 40%;
        background: #fff;
        transition: right 0.3s; 
        z-index: 18;
        overflow-y: auto;
        height: 100%;
    }
    #nav-menu.is-active {
        right: 0;
    }
    .l-header.is-active {
        z-index: 19;
    }
    .l-header__nav-item {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        flex-direction: column;
    }
    .l-header__nav-list {
        width: 100%;
        text-align: center; 
    }
    .l-header__nav-link {
        width: 100%;
        padding: 20px 0;
        display: block;
    }
}

/* 
kv
 */
.p-index-kv__container {
    height: 100vh;
    background: #F5F4F2;
}
.p-index-kv {
    height: 100%;
}
.p-index-kv__inner {
    position: relative;
}
.p-index-kv__txt-imgarea {
    position: absolute;
    top: 160px;
    left: 200px;
    width: 600px;
}
.p-index-kv__txt-img {
    margin-bottom: 66px;
}
.p-index-kv__txt {
    font-size: 26px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.05em;
    white-space: nowrap;
}
.p-index-kv__imgarea01 {
    position: absolute;
    top: 0;
    right: 549px;
    width: 268px;
}
.p-index-kv__imgarea02 {
    position: absolute;
    top: 150px;
    right: 274px;
    width: 268px;
}
.p-index-kv__imgarea03 {
    position: absolute;
    top: 300px;
    right: 0;
    width: 268px;
}

@media screen and (max-width:1620px) {
    .p-index-kv__txt-imgarea {
        width: calc(600 / 1920 * 100vw);
    }
    .p-index-kv__imgarea01 {
        right: calc(549 / 1920 * 100vw);
        width: calc(268 / 1920 * 100vw);
    }
    .p-index-kv__imgarea02 {
        right: calc(274 / 1920 * 100vw);
        width: calc(268 / 1920 * 100vw);
    }
    .p-index-kv__imgarea03 {
        width: calc(268 / 1920 * 100vw);
    }
}
@media screen and (max-width:1366px) {
    .p-index-kv__container {
        height: 60vh;
    }
}
@media screen and (max-width:1024px) {
    .p-index-kv__container {
        height: 100%;
    }
    .p-index-kv__inner {
        position: initial;
        display: block;
    }
    .p-index-kv__txt-imgarea {
        position: initial;
        width: 60%;
        margin: 0 auto 44px;
        padding-top: 20px;
    }
    .p-index-kv__txt-img {
        margin-bottom: 22px;
    }
    .p-index-kv__txt {
        font-size: 20px;
    }
    .p-index-kv__img-contents {
        display: flex;
        justify-content: space-between;
    }
    .p-index-kv__imgarea01,
    .p-index-kv__imgarea02,
    .p-index-kv__imgarea03 {
        position: initial;
        width: 100%;
        width: calc(100% / 3 - 7px);
    }
    .p-index-kv__imgarea02 {
        margin-top: 140px;
    }
    .p-index-kv__imgarea03 {
        margin-top: 280px;
    }
}
@media screen and (max-width:768px) {
    .p-index-kv__txt {
        font-size: 14px;
    }
    .p-index-kv__txt-imgarea {
        padding-top: 80px;
    }
    
}


/* 
create
 */
.p-index-create__container {
    background: #F5F4F2;
}
.p-index-create {
    height: 100%;
}
.p-index-create__inner {
    position: relative;
    height: 1400px;
    padding-top: 120px;
}
.p-index-create__heading-area {
    width: 100%;
}
.p-index-create__heading-img-area {
    position: absolute;
    bottom: calc(554 / 1920 * 100vw);
    left: calc(147 / 1920 * 100vw);
    width: 42.76%;
    padding-top: 20px;
}
.p-index-create__ttl-area {
    position: absolute;
    left: calc(399 / 1920 * 100vw);
    width: 28.96%;
    bottom: calc(539 / 1920 * 100vw);
    z-index: 11;
}
.p-index-create__ttl {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1.5;
    white-space: nowrap;
}
.p-index-create__txt-area {
    position: absolute;
    left: calc(398 / 1920 * 100vw);
    width: 28.91%;
    bottom: calc(195 / 1920 * 100vw);
    height: 287px;
}
.p-index-create__txt {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 2.6; 
}
.p-index-create__imgarea01 {
    position: absolute;
    bottom: 0;
    right: 549px;
    width: 268px;
    height: 1300px;
    background-color: #21FFA9;
    opacity: 0.5
}
.p-index-create__imgarea02 {
    position: absolute;
    bottom: 0;
    right: 274px;
    width: 268px;
    height: 1000px;
    background-color: #797979;
    opacity: 0.5
}
.p-index-create__imgarea03 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 268px;
    height: 790px;
    background-color: #000;
    opacity: 0.5
}
.p-index-create__imgarea04 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1079px;
}
@media screen and (max-width:1620px) {
    .p-index-create__inner {
        height: calc(1600 / 1920 * 100vw);
    }
    .p-index-create__txt-area {
        bottom: calc(107 / 1920* 100vw);
    }
    .p-index-create__imgarea01 {
        right: calc(549 / 1920 * 100vw);
        width: calc(268 / 1920 * 100vw);
        height: calc(1400 / 1920 * 100vw);
    }
    .p-index-create__imgarea02 {
        right: calc(274 / 1920 * 100vw);
        width: calc(268 / 1920 * 100vw);
        height: calc(1000 / 1920 * 100vw);
    }
    .p-index-create__imgarea03 {
        width: calc(268 / 1920 * 100vw);
        height: calc(700 / 1920 * 100vw);
    }
    .p-index-create__imgarea04 {
        width: calc(1079 / 1920 * 100vw);
    }
}
@media screen and (max-width:1366px) {
    .p-index-create__heading-img-area {
        bottom: calc(671 / 1920* 100vw);
    }
    .p-index-create__ttl-area {
        left: calc(326 / 1920* 100vw);
        bottom: calc(615 / 1920* 100vw);
    }
    .p-index-create__txt-area {
        left: calc(325 / 1920 * 100vw);
        width: 38%;
    }
}
@media screen and (max-width:1024px) {
    .p-index-create__container {
        height: 100%;
    }
    .p-index-create__inner {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        padding-top: 0;
    }
    .p-index-create__img-contents {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 125px;
        position: relative;
        overflow: hidden;
    }
    .p-index-create__heading-img-area {
        padding-top: 0;
    }
    .p-index-create__imgarea01{
        position: initial;
        width: calc(100% / 3 - 7px);
        height:1110px;
    }
    .p-index-create__imgarea02{
        position: initial;
        width: calc(100% / 3 - 7px);
        height: 1000px;
    }
    .p-index-create__imgarea03 {
        position: initial;
        width: calc(100% / 3 - 7px);
        height: 865px;
    }
    .p-index-create__imgarea04 {
        width: auto;
        right: -35%;
    }
    .p-index-create__heading-img-area,
    .p-index-create__ttl-area,
    .p-index-create__txt-area {
        position: initial;
    }
    .p-index-create__heading-area {
        position: relative;
        margin-bottom: 80px;
    }
    .p-index-create__heading-img-area {
        width: 100%;
        margin-top: 30px;
    }
    .p-index-create__ttl-area {
        position: initial;
        margin: -17% auto 0;
        width: 58.4%;
    }
    .p-index-create__ttl {
        font-size: 32px;
    }
    .p-index-create__txt-area {
        width: 58.4%;
        margin: 60px auto 0;
        height: 100%;
    }
    .p-index-create__txt {
        font-size: 18px;
    }
}
@media screen and (max-width:768px) {
    .p-index-create__ttl-area {
        margin: -20% auto 0;
    }
    .p-index-create__ttl {
        font-size: 18px;
    }
    .p-index-create__txt-area {
        margin: 30px auto 0;
    }
    .p-index-create__txt {
        font-size: 12px;
        line-height: 2;
    }
    .p-index-create__heading-area {
        margin-bottom: 50px;
    }
}


/* 
trans
 */
.p-index-trans__container {
    height: 1106px;
    background: #F5F4F2;
}
.p-index-trans {
    height: 100%;
}
.p-index-trans__inner {
    height: 100%;
    position: relative;
}
.p-index-trans__img-area {
    background: url(../img/trans_img.png) top left / cover no-repeat;
    height: 100%;
    width: calc(1638 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: -10px;
}
.p-index-trans__heading-area {
    border: 5px solid #000;
    padding: calc(102 / 1920 * 100vw);
    background-color: #F5F4F2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc((1920 - 746) / 1920 * 100vw); 
    width: calc(747 / 1920 * 100vw);
    box-sizing: border-box;
}
.p-index-trans__ttl-area {
    margin-bottom: 60px;
}
.p-index-trans__ttl {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1.5;
    white-space: nowrap;
}
.p-index-trans__txt-area {
    width: 502px;
}
.p-index-trans__txt {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 2.6; 
}
@media screen and (max-width:1620px) {
    .p-index-trans__container {
        height: calc(1106 / 1920 * 100vw);
    }
    .p-index-trans__heading-area {
        left: calc((1920 - 998) / 1920 * 100vw); 
        width: calc(998 / 1920 * 100vw);
    }
}
@media screen and (max-width:1366px) {
    .p-index-trans__heading-area {
        border: 5px solid #000;
        padding-left: calc(42 / 1920 * 100vw);
    }
}
@media screen and (max-width:1024px) {
    .p-index-trans__container {
        height: 100%;
    }
    .p-index-trans__inner {
        display: flex;
        flex-direction: column;
    }
    .p-index-trans__img-area {
        width: 100%;
        position: initial;
        background: none;
        margin-bottom: 140px;
    }
    .p-index-trans__heading-area {
        position: initial;
        transform: none;
        margin: 0 auto;
        width: 65.4%;
        padding: 27px 23px;
    }
    .p-index-trans__ttl-area {
        margin-bottom: 24px;
        text-align: center;
    }
    .p-index-trans__ttl {
        font-size: 32px;
    }
    .p-index-trans__txt-area {
        padding: 0 33px;
        width: auto;
    }
    .p-index-trans__txt {
        font-size: 18px;
        line-height: 2.2;
    }
}
@media screen and (max-width:768px) {
    .p-index-trans__ttl {
        font-size: 18px;
    }
    .p-index-trans__img-area {
        margin-bottom: 70px;
    }
    .p-index-trans__heading-area {
        border: 2.5px solid #000;
        width: 70%;
        padding: 27px 15px;
    }
    .p-index-trans__txt-area {
        padding: 0 16px;
    }
    .p-index-trans__txt {
        font-size: 12px;
        line-height: 2;
    }
}


/* 
growth
 */
.p-index-growth__container {
    background: #F5F4F2;
}
.p-index-growth__inner {
    padding: 200px 0px 70px 0px;
    width: 1404px;
    margin: 0 auto;
}
.p-index-growth__item {
    display: flex;
    justify-content: space-between;
}
.p-index-growth__list {
    border: 5px solid #000;
    padding: 88px 45px;
    box-sizing: border-box;
    width: calc(100% / 3 - 30px);
}
.p-index-growth__list-ttl-area {
    margin-bottom: 65px;
    text-align: center;
}
.p-index-growth__list-ttl {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.p-index-growth__list-subttl {
    display: block;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
}
.p-index-growth__list-txt {
    font-size: 14px;
    padding: 23px 0;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.05em;
}
.p-index-growth__list-txt {
    border-bottom: 1px solid #E5E5E5;
}
@media screen and (max-width:1620px) {
    .p-index-growth__inner {
        width: calc(1404 / 1920 * 100vw);
    }
    .p-index-growth__list {
        padding: calc(88 / 1920 * 100vw) calc(45 / 1920 * 100vw);
    }
}

@media screen and (max-width:1024px) {
    .p-index-growth__inner {
        width: auto;
    }
    .p-index-growth__item {
        display: block;
    }
    .p-index-growth__list {
        width: 65.4%;
        margin: 0 auto 95px;
    }
    .p-index-growth__list {
        padding: 88px 67px;
    }
    .p-index-growth__list-ttl-area {
        margin-bottom: 88px;
    }
    .p-index-growth__list-txt {
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width:768px) {
    .p-index-growth__inner {
        padding: 85px 0;
    }
    .p-index-growth__list {
        border: 2.5px solid #000;
        padding: 44px 15px;
        margin: 0 auto 42px;
        width: 70%;
    }
    .p-index-growth__list-ttl-area {
        margin-bottom: 44px;
    }
    .p-index-growth__list-ttl {
        font-size: 18px;
    }
    .p-index-growth__list-subttl {
        font-size: 14px;
    }
    .p-index-growth__list-txt {
        font-size: 12px;
        padding: 12px 0;
    }
}

/* 
work
 */
.p-index-work__container {
    background: #F5F4F2;
}
.p-index-work__inner {
    padding: 100px 0;
    width: 1404px;
    margin: 0 auto;
}
.p-index-work__contents-area {
    border: 1px solid #707070;
}
.p-index-work__item {
    display: flex;
    flex-direction: column;
}
.p-index-work__list {
    box-sizing: border-box;
    border-bottom: 1px solid #707070;
}
.p-index-work__list:nth-last-of-type(1) {
    border-bottom: none;
}
.p-index-work__list-link {
    display: flex;
    justify-content: space-between;
    z-index: 8;
    position: relative;
}

.p-index-work__list-txt-area {
    padding: 28px 10px 28px 30px;
    box-sizing: border-box;
    width: 317px;
    transition: padding 0.3s ease;
}
.p-index-work__list-link:hover .p-index-work__list-txt-area {
    padding: 28px 0 217px 30px;
}
.p-index-work__list-ttl {
    font-size: 34px;
    font-family: "axia", sans-serif;
    font-weight: 900;
    margin-bottom: 7px;
}
.p-index-work__list-txt {
    font-size: 12px;
    font-weight: 400;
}
.p-index-work__list-img-area {
    width: 81%;
}
.p-index-work__list:nth-of-type(1) .p-index-work__list-img-area {
    background: url('../img/work_img01.png') top / cover no-repeat;
}
.p-index-work__list:nth-of-type(2) .p-index-work__list-img-area {
    background: url('../img/work_img02.png') top / cover no-repeat;
}
.p-index-work__list:nth-of-type(3) .p-index-work__list-img-area {
    background: url('../img/work_img03.png') top / cover no-repeat;
}
.p-index-work__list:nth-of-type(4) .p-index-work__list-img-area {
    background: url('../img/work_img04.png') top / cover no-repeat;
}
.p-index-work__container.modal-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #797979;
    z-index: 9999;
    position: fixed;
}
.p-index-work__modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F4F2;
    border: 1px solid #707070;
    z-index: 15;
    width: 1403px;
}
.p-index-work__modal.show {
    display: block;
}
.p-index-work__modal-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.p-index-work__modal-txt-area {
    width: 25%;
    padding: 35px 0 0 37px;
    border-right: 1px solid #707070;
    box-sizing: border-box;
}
.p-index-work__modal-ttl-area {
    margin-bottom: 25px;
}
.p-index-work__modal-ttl {
    font-size: 37px;
    font-family: "axia", sans-serif;
    font-weight: 900;
}
.p-index-work__modal-cname-area {
    margin-bottom: 25px;
}
.p-index-work__modal-cname {
    font-size: 14px;
    font-weight: 400;
}
.p-index-work__modal-txts {
    font-size: 14px;
    font-weight: 400;
}
.p-index-work__modal-contents-area {
    width: 75%;
    padding: calc(70 / 1920 * 100vw) calc(137 / 1920 * 100vw);
    overflow: hidden;
    box-sizing: border-box;
}
.p-index-work__modal-close-area {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 19px;
    width: 27px;
    height: 27px;
}
.p-index-work__modal-close {
    background: #000;
    border-radius: 5px;
    width: 27px;
    height: 2px;
    display: inline-block;
    content: "";
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    transform: translateY(0px) rotate(45deg);
    position: absolute;
    top: 13px;
    left: 0;
}
.p-index-work__modal-close:nth-of-type(2) {
    transform: translateY(0px) rotate(-45deg);
}
.p-index-work__modal-close-txt {
    display: block;
    font-size: 10px;
    font-family: "axia", sans-serif;
    font-weight: 100;
    position: absolute;
    top: 27px;
    right: -13px;
    transform: translateX(-50%);
}
.p-index-work__modal-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    width: calc(816 / 1920* 100vw);
}
.p-index-work__modal-contents-sp {
    width: calc(246 / 1920* 100vw);
}
.p-index-work__modal-item-area {
    width: calc(459 / 1920* 100vw);
}
.p-index-work__modal-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
}
.p-index-work__modal-list:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: 1;
}
.p-index-work__modal-des-area {
    width: 100%;
}
.p-index-work__modal-des {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.4;
}
.p-index-work__publish-container {
    width: 80%;
    margin: 0 auto;
}
.p-index-work__publish-box {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 45px ;
    gap: 4rem;
}
.p-index-work__publish-item{
    color: #000000;
    width: 180px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 calc(33.33% - 100px); /* 3つのアイテムを1行に並べる */
}
.p-image-container {
    position: relative;
    display: inline-block; /* インラインブロックとして配置 */
}
.p-index-work__publish-item__link:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
    }
@media screen and (max-width:842px) {
.p-index-work__dummy{
    display: none;
}
}
.p-index-work__publish-img-area{
    width: 180px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.p-index-work__publish-txt{
    width: 218px;
    height: 15px;
    font-size: 12px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    text-align: center;
}
.p-index-work__andmore-txt{
    margin-top: 10px;
    font-size: 15px;
    font-family: "Zen Kaku Gothic Antique ", sans-serif;
    font-weight: bold;
    text-align: right;    
}
@media screen and (max-width:1620px) {
    .p-index-work__inner {
        width: calc(1404 / 1920 * 100vw);
    }
    .p-index-work__modal {
        width: calc(1403 / 1920 * 100vw);
    }
    .p-index-work__modal-contents {
        margin-bottom: 30px;
    }
    .p-index-work__publish-container {
        width: 95.8%;
        padding: 0px 20px;
        gap: 4rem 2rem;
    }
}





@media screen and (max-width:1024px) {
    .p-index-work__inner {
        padding: 35px 0 75px;
        width: auto;
    }
    .p-index-work__contents-area {
        margin-left: 55px;
    }
    .p-index-work__list-txt-area {
        width: 100%;
    }
    .p-index-work__list:nth-of-type(1) .p-index-work__list-img-area {
        background: url('../img/work_img01.png') top left / cover no-repeat;
    }
    .p-index-work__list:nth-of-type(2) .p-index-work__list-img-area {
        background: url('../img/work_img02.png') top left / cover no-repeat;
    }
    .p-index-work__list:nth-of-type(3) .p-index-work__list-img-area {
        background: url('../img/work_img03.png') top left / cover no-repeat;
    }
    .p-index-work__list:nth-of-type(4) .p-index-work__list-img-area {
        background: url('../img/work_img04.png') top left / cover no-repeat;
    }
    .p-index-work__publish-container {
        width: 78%;
        margin: 0 auto;
    }
    .p-index-work__modal {
        width: 92%;
        height: 82%;
        overflow-y: scroll;
        box-sizing: border-box;
    }
    .p-index-work__modal-inner {
        display: inline-block;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    .p-index-work__modal-txt-area {
        width: auto;
        padding: 20px;
        border-right: none;
        border-bottom: 1px solid #707070;
    }
    .p-index-work__modal-contents-area {
        width: auto;
        padding: 0 20px 20px;
    }
    .p-index-work__modal-contents {
        display: block;
        width: 100%;
    }
    .p-index-work__modal-contents {
        width: 100%;
    }
    .p-index-work__modal-item-area {
        width: 100%;
    }
    .p-index-work__modal-contents-sp {
        width: 35%;
        margin: 30px auto;
    }
    .p-index-work__modal-item {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .p-index-work__modal-list-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .p-index-work__modal-list:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }
    .p-index-work__modal-list:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1;
    }
    .p-index-work__modal-list:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2;
    }
    .p-index-work__publish-container {
        width: 90%;
        gap: 4rem 2rem;
    }
}
@media screen and (max-width:768px) {
    .p-index-work__contents-area {
        margin-left: 22px;
    }
    .p-index-work__list-ttl {
        font-size: 17px;
    }
    .p-index-work__list-txt-area {
        padding: 14px 10px 14px 10px;
        width: auto;
    }
    .p-index-work__publish-container {
        width: 83%;
        margin: 0 auto;
        gap: 4rem 2rem;
    }
} 

/* 
career
 */
.p-index-member__container {
    background: #F5F4F2;
}
.p-index-member__inner {
    padding: 100px 0 63px 0;
    width: 1404px;
    margin: 0 auto;
}
.p-index-member__contents {
    margin-bottom: 204px;
}
.p-index-member__contents-area {
    display: flex;
    justify-content: space-between;
    border-left: 2px solid #797979;
    border-right: 2px solid #797979;
    padding: 0 78px 0 33px;
}
.p-index-member__img-area {
    width: 683px;
    margin-right: 54px;
}
.p-index-member__txt-area {
    padding: 50px 0 7px;
    width: 550px;
}
.p-index-member__name-area {
    margin-bottom: 34px;
}
.p-index-member__name {
    font-size: 18px;
    display: inline-block;
    margin-right: 14px;
}
.p-index-member__name-furi {
    font-family: "axia", sans-serif;
    font-size: 12px;
}
.p-index-member__comment-area {
    margin-bottom: 58px;
}
.p-index-member__comment {
    font-size: 12px;
    letter-spacing: 0.12em;
    line-height: 2.5;
    margin-bottom: 30px;
    font-weight: 400;
}
.p-index-member__carrer-ttl {
    font-size: 16px;
    margin-bottom: 20px;
}
.p-index-member__carrer-txt {
    font-size: 12px;
    letter-spacing: 0.12em;
    line-height: 2.5;
    font-weight: 400;
}
@media screen and (max-width:1620px) {
    .p-index-member__inner {
        width: calc(1404 / 1920 * 100vw);
    }
}



@media screen and (max-width:1024px) {
    .p-index-member__inner {
        width: auto;
    }
    .p-index-member__contents {
        margin-bottom: 150px;
    }
    .p-index-member__contents:nth-last-of-type(1) {
        margin-bottom: 11px;
    }
    .p-index-member__contents-area {
        display: block;
        padding: 0 45px 0 33px;
        width: 65%;
        margin: 0 auto;
    }
    .p-index-member__img-area {
        width: auto;
        margin: 0 auto;
    }
    .p-index-member__txt-area {
        padding: 50px 0 7px;
        width: auto;
    }
    .p-index-member__name-area {
        margin-bottom: 48px;
    }
    .p-index-member__comment {
        font-size: 14px;
        margin-bottom: 59px;
    }
    .p-index-member__carrer-txt {
        font-size: 14px;
    }
}
@media screen and (max-width:768px) {
    .p-index-member__inner {
        padding: 85px 0 63px 0;
    }
    .p-index-member__contents-area {
        padding: 0 22px 0 17px;
    }
    .p-index-member__contents {
        margin-bottom: 75px;
    }
    .p-index-member__txt-area {
        padding: 25px 0 0;
    }
    .p-index-member__name-area {
        margin-bottom: 24px;
    }
    .p-index-member__comment {
        font-size: 12px;
        margin-bottom: 30px;
        line-height: 2.2;
    }
    .p-index-member__carrer-txt {
        font-size: 12px;
    }
}

/* 
recriut
 */
 .p-index-recruit__container {
    background: #F5F4F2;
}
.p-index-recruit__inner {
    padding: 100px 0 0px 0;
    width: 1404px;
    margin: 0 auto;
}
.p-index-recruit__contents {
    margin-bottom: 204px;
}
.p-index-recruit__contents-area {
    display: flex;
    justify-content: space-between;
    border-left: 2px solid #797979;
    border-right: 2px solid #797979;
    padding: 0 78px 0 33px;
}
.scroll-container {
    display: flex; /* 子要素を横並びにするために flexbox を使用 */
    overflow-x: auto; /* 子要素がコンテナからはみ出る場合にスクロールバーを表示 */
    padding: 10px; /* コンテナの内側に余白を設定 */
    margin: 50px 0px 20px 0px;
    overflow-x: scroll; /* 横スクロールを有効にする */
    white-space: nowrap; /* 子要素が横並びになるよう設定 */
}

.scroll-item {
    flex: 0 0 auto; /* 子要素のサイズを固定し、コンテナからはみ出さないようにする */
    width: 500px; /* 画面幅いっぱいに表示するため、viewportの幅を使用 */
    height:350px; /* iframeの高さを設定 */
    border: none;
    margin-right: 10px; /* 各要素の右側に少し間隔を設ける */
}
@media screen and (max-width:1620px) {
    .p-index-recruit__inner {
        width: calc(1404 / 1920 * 100vw);
    }
}



@media screen and (max-width:1024px) {
    .p-index-recruit__inner {
        width: auto;
    }
    .p-index-recruit__contents {
        margin-bottom: 150px;
    }
    .p-index-recruit__contents:nth-last-of-type(1) {
        margin-bottom: 11px;
    }
    .p-index-recruit__contents-area {
        display: block;
        padding: 0 45px 0 33px;
        width: 65%;
        margin: 0 auto;
    }
}
@media screen and (max-width:768px) {
    .p-index-recruit__inner {
        padding: 85px 0 63px 0;
    }
    .p-index-recruit__contents-area {
        padding: 0 22px 0 17px;
    }
    .p-index-recruit__contents {
        margin-bottom: 75px;
    }
}

/* 
footer
 */
.l-footer {
    background: #F5F4F2;
}
.l-footer__wrapper {
    border-top: 1px solid #707070;
}
.l-footer__inner {
    display: flex;
    justify-content: space-between;
}
.l-footer__info-area {
    width: 480px;
    margin: 0 auto;
    padding: 141px 102px 156px;
    border-right: 1px solid #707070;
}
.l-footer__info-logo-area {
    margin-bottom: 10px;
}
.l-footer__info-logo {
    font-family: "axia", sans-serif;
    font-size: 38px;
    font-weight: 900;
    display: inline-block;
}
.l-footer__info-sublogo {
    font-weight: 100;
}
.l-footer__info-comapnay-area {
    margin-bottom: 42px;
}
.l-footer__info-comapnay-name {
    font-size: 14px;
    font-weight: 400;
}
.l-footer__info-address-area {
    margin-bottom: 26px;
}
.l-footer__info-address {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.l-footer__info-name {
    font-size: 14px;
    font-weight: 400;
}
.l-footer__logo-area {
    width: 1439px;
    padding-top: 43px;
    text-align: right;
}
.l-footer__copyright {
    background: #000;
    padding: 77px 0 34px;
}
.l-footer__copyright-logo-area {
    text-align: center;
}
.l-footer__copyright-txt-area {
    margin-right: 35px;
    margin-bottom: 31px;
}
.l-footer__copyright-txt {
    text-align: right;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

@media screen and (max-width:1024px) {
    .l-footer__wrapper {
        border-top: none;
    }
    .l-footer__inner {
        display: block;
        position: relative;
    }
    .l-footer__info-area {
        width: 75%;
        padding: 76px 0 150px;
        border-right: none;
    }
    .l-footer__info-comapnay-area {
        margin-bottom: 50px;
    }
    .l-footer__logo-area {
        width: 100%;
        max-width: 474px;
        padding-top: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .l-footer__copyright {
        padding: 82px 0 31px;
    }
    .l-footer__copyright-logo-area {
        margin-bottom: 29px;
    }
    .l-footer__copyright-txt-area {
        margin-bottom: 0px;
    }
}
@media screen and (max-width:768px) {
    .l-footer__info-area {
        max-width: 351px;
        padding: 35px 0 75px;
    }
    .l-footer__copyright {
        padding: 41px 0 15px;
    }
    .l-footer__info-logo {
        font-size: 28px;
    }
    .l-footer__info-comapnay-name {
        font-size: 12px;
    }
    .l-footer__info-address,
    .l-footer__info-name-area {
        font-size: 12px;
    }
    .l-footer__logo-area {
        max-width: 284px;
    }
    .l-footer__copyright-txt {
        font-size: 10px;
    }
    .l-footer__copyright-logo-area {
        width: 115px;
        margin: 0 auto 15px;
    }
    .l-footer__copyright-txt-area {
        margin-right: 15px;
    }
}