.container {
  display: flex;
}

.container_lg {
  width: 100%;
  gap: 1rem;
}

.container_md {
  height: 105px;
  margin-top: 0.75rem;
}

.container_sm {
  height: 36px;
  margin-top: 1.5rem;
}

@media screen and (max-width: 576px) {
  .container_md {
    height: auto;
  }

  .container_sm {
    height: auto;
  }
}
