.container {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  gap: 1rem;
}

.date {
  font-size: calc(0.8rem + var(--font-size-adjustment));
}

.title {
  font-size: calc(1.2rem + var(--font-size-adjustment));
  font-weight: 700;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
}

.description {
  font-size: calc(1rem + var(--font-size-adjustment));
}
