.container {
  width: 100%;
}

.contents {
  display: flex;
  flex-direction: row;
}

.content {
  width: 50%;
}

.logo_container {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 60%;
  height: 60%;
}

.catch_copy {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
