.container {
  width: 100%;
    height: inherit;
}

.contents {
  display: flex;
  padding: 2rem 0;
    height: 100%;
    box-sizing: border-box;
}

.content {
  width: 50%;
}

.logo_container {
  display: flex;
  justify-content: space-around;
    height: 100%;
    align-items: center;
}

.logo {
  width: 60%;
  height: 60%;
}

.catch_copies{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catch_copy_en {
  font-size: 2.25rem;
  font-family: var(--font-axia);
  margin-bottom: 1.875rem;
}

.catch_copy_jp {
  font-size: 1rem;
  font-weight: bold;
    margin-top: 0;
  margin-bottom: 2.25rem;
}

.catch_copy_description {
  font-size: 0.625rem;
  margin-bottom: 1rem;
}
