.container {
  width: 100%;
}

.contents {
  display: flex;
  padding: 2rem 0;
}

.content {
  width: 50%;
}

.logo_container {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 60%;
  height: 60%;
}

.catch_copy_en {
  font-size: 2rem;
  font-family: var(--font-axia);
  margin-bottom: 1rem;
}

.catch_copy_jp {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.catch_copy_description {
  font-size: 0.625rem;
  margin-bottom: 1rem;
}
