.service_list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
}

.service_list_item {
  width: 30%;
}

.title {
  font-size: 1.5rem;
  margin-top: 1.2rem;
}

.summary {
  font-size: 0.865rem;
  margin-top: 0.5rem;
}

.thumbnail_wrapper {
  position: relative;
  aspect-ratio: 1;
  background-color: var(--background-yellow);
  overflow: hidden;
}

.thumbnail_wrapper:hover {
  background-color: var(--company-color);
  cursor: pointer;
}

.thumbnail_wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 30px solid white;
  border-right: 30px solid transparent;
}

.image_wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .service_list {
    flex-direction: column;
  }

  .service_list_item {
    width: 100%;
  }

  .thumbnail_wrapper {
    object-fit: cover;
    aspect-ratio: auto;
  }

  .title {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }

  .summary {
    display: none;
  }
}
