.page {
  /*height: inherit;*/
  min-height: 100%;
  display: flex;
  gap: 1.875rem;
}

.left_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right_container {
  width: calc(100% - 400px);
}

@media screen and (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .left_container {
    width: 100%;
  }

  .right_container {
    width: 100%;
  }
}
