.container {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  padding: 1% 1.5% 2% 1.5%;
  background-color: rgba(250, 250, 250, 1);
}

.content {
  top: 1%;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  scroll-behavior: smooth;
}
