.container {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  padding: 10px;
  overflow: scroll;
}

.articles {
  width: inherit;
  height: inherit;
  background-color: white;

  box-sizing: border-box;
  padding: 20px 48px;
  overflow: auto;
  scroll-behavior: smooth;
}
